{% extends 'base.html' %}


{% block content %}

<h2><img src="{{ url_for('static', filename='image/扁平头像-boy 04.png') }}" alt="avatar" class="avatar"></h2>

<h2>{{ name }}'s watchlist</h2>

<!-- 添加待看电影 -->
<form action="/" method="post">
    {{ form.title.label }}  {{ form.title }} {{ form.title.errors[0] }} <br>
    {{ form.year.label }}   {{ form.year }} {{ form.year.errors[0] }} <br>
     {{ form.user_id }} 
    <button type="submit">添加</button>
    
</form>

<p>{{ movies|length }} Titles</p>
<ul>
    {% for m in movies %}
    <li class="movie-list">{{ m.title }} - {{ m.year }}</li>
    {% endfor %}
</ul>


<h2><img src="{{ url_for('static', filename='image/扁平头像-boy 05.png') }}" alt="avatar" class="torato"></h2>

{% endblock %}