{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block icon %}<link rel="icon" href="{{ url_for('static', filename='icon/首页.svg') }}">{% endblock %}

{% block content %}

<h2>
    <img src="{{ url_for('static', filename='image/扁平头像-boy 04.png') }}" alt="avatar" class="avatar">  {{ name }}'s watchlist
</h2>


{{ movies|length }} Titles     <a href="{{ url_for('edit.edit') }}">编辑</a>


<ul class="movie-list">
    <ul>
        {% for m in movies %}
        <li class="movie-list">{{ m.title }} - {{ m.year }}</li>
        {% endfor %}
    </ul>
</ul>


{% endblock %}